   
   .Cabecera{
       background-color: darkorange;
       padding: 5%;
       border: 1px solid black;
    }   

h1{font-size:80px;font-family: mistral;text-align: center; }
       
h3{font-size: 20px;font-family: Tahoma;text-align: center;}

#primeraVista{
       width: 500px;
       height: 300px;       
       padding: 20px;
      
      
}
        
.imagenes1 {

    width: 500px;
    height: 500px;
    padding: 5%; 
    display:flex;
    margin-left: 35%;
    
}
#formulario,#inputnumero{
    
    margin-left: 45%;
    font-size: 25px;
    /*width: 200%;
    padding: 12px 20px; */
   
    
}
  
#Tarjeta_BNB{
    /*padding: 2%;*/
    width: 30%;
    height: 70%;
    margin-left: 35%;
   
}


#segundaVista,#terceraVista{
    display:none;

}

#titulo{
    font-size: 25px;
    font-family:sans-serif;    
    text-align: center;
    padding: 5%;
}

#botonComprar{
    background-color: rgb(7, 204, 7);
    font-family:tahoma;
    margin-left: 46vw;
    font-size: 20px;

    }
    #limpiar,#validar{
        background-color: rgb(7, 204, 7);
        font-family:tahoma;
        display: inline;
               
    }
    #Fin{
        background-color: rgb(7, 204, 7);
        font-family:tahoma;
        display: block;
        margin-top: 2%;
        margin-left:10%;
       
    }

footer{
font-size: 30px;
font-family: Tahoma;
text-align: center;
margin-top: 25%;
}

#mensaje,#mensaje2{
    display:none; 
    margin-left: 40vw; 
    font-style:normal;
    font-family:tahoma;
    color:green;
    
}
#terceraVista{
  border: 5px solid green;
  padding: 50px;
  
}
#gracias{
    font-size:35px;
    font-family: mistral;
    text-align: center;
    color:orangered;
    
}
#Fin2{
    background-color: rgb(7, 204, 7);
    font-family:tahoma;
    font-size: 15px;
    display: block;
    margin-top: 5%;
    /*margin: left 60%;*/
}



    
