* {
    margin: 0;
    padding: 0;
}
.agrupar {
    background-color: lightgrey;
    width: 960px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
           }      
      
        h1{font-size:80px;font-family: mistral;text-align: center;background-color: darkorange;height: 100px;
            width: 100%;
            }
        h3{font-size: 20;font-family: Tahoma;text-align: center;background-color: darkorange;height: 50px;
            width: 100%;}
      
      

            footer{
                font-size: 20;font-family: Tahoma;text-align: center;
            }

            

    
