* {
    margin: 0;
    padding: 0;
}   
   .Cabecera{
       background-color: darkorange;
       padding: 4em;
       border: 1px solid black;
    }   

h1{font-size:80px;font-family: mistral;text-align: center; }
       
h3{font-size: 20px;font-family: Tahoma;text-align: center;}

#primeraVista{
       width: 500px;
       height: 300px;       
       padding: 20px;
       margin:20px;
      
}
        
.imagenes1 {

    width: 500px;
    height: 500px;
    padding:4%; 
    margin: 20px;
    display:flex;
    align-content: center;     
}
#segundaVista,#Tarjeta_BNB{
    
    padding: 4em;
    width: 50%;
    height: 50%;
    margin: left 100%;
}
  
#segundaVista{
    display:none;

}

#botonComprar{
    background-color: rgb(7, 204, 7);
    font-family:tahoma;
    font-style: italic;
    margin-left: 48vw;
    }
footer {
font-size: 20;font-family: Tahoma;text-align: center;margin-top: 300px;
}




    
